@import './variable';
@import './mixin';

// Resets
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  padding: 1.5rem;
  
  .hamburger{
    padding: 1rem;
    // padding-right: 3rem;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
    z-index: 2;

    &__icon{
      @include Hamburger;

      &::before{
        content: '';
        @include Hamburger;
        transform: translate(-10px, 10px);
      }

      &::after{
        content: '';
        @include Hamburger;
        width: 25px;
        transform: translate(-10px, -10px);
      }
    }
  }
}

.page1{
  width: 100%;
  height: 100vh;
  background: $background;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #{&}__intro{
    font-family: $font-main;
    color: #fff; 

    .salutation{
      font-size: 6rem;
      font-weight: 900;
    }

    .address{
      font-size: 3rem;
      font-weight: 600;
    }
  }
}

.page2{
  margin: 0 auto;
}




//header

